<div class="theme1-content-layout">
  <div class="theme1-content-layout-row">
    <div class="theme1-layout-cell layout-item-1" style="width: 32%" >
      <h1>What's New?</h1>
      <div class="newsdate">
        <h6>17</h6>
        <p>Mi.</p>
      </div>
      <p>
        Justo ut nisi sed ipsum mollis nunc nunc fusce primis velit nec id pellentesque sit.<br><br>
      </p>
      <div class="newsdate">
        <h6>24</h6>
        <p>Id.</p>
      </div>
      <p>
        Morbi justo arcu mauris suspendisse id fusce ac purus ut sed maecenas vestibulum aenean ipsum.<br><br>
      </p>
      <div class="newsdate">
        <h6>04</h6>
        <p>Et.</p>
      </div>
      <p>
        Libero condimentum bibendum praesent augue purus ipsum nunc vel non vestibulum dui.<br><br>
      </p>
      <div class="newsdate">
        <h6>12</h6>
        <p>Ac.</p>
      </div>
      <p>
        Augue at risus nonummy ridiculus eros sed a etiam turpis nisi malesuada nunc.<br><br>
      </p>
      <div class="newsdate">
        <h6>23</h6>
        <p>Ac.</p>
      </div>
      <p>
        Vel pellentesque mollis habitant. Varius enim fusce consectetuer faucibus dui.
      </p>
    </div>
    <div class="theme1-layout-cell layout-item-1" style="width: 30%" >
      <h1>Search To Buy</h1>
      <p>Nunc sapien eu.</p>
      <p><input value="" size="30"></p>
      <p>Faucibus rutrum.</p>
      <p><input value="" size="30"></p>
      <p>Tempus nec.</p>
      <select>
        <option></option>
        <option>Nisl.</option>
        <option>Et cursus.</option>
        <option>Eros.</option>
        <option>Sed.</option>
      </select>
      <p>Amet lorem.</p>
      <select>
        <option>Id.</option>
        <option>100,000.00</option>
        <option>200,000.00</option>
        <option>300,000.00</option>
      </select>
      <select>
        <option>At.</option>
        <option>100,000.00</option>
        <option>200,000.00</option>
        <option>300,000.00</option>
      </select>
      <p>Ullamcorper commodo eget eros egestas sodales ut pharetra sed nunc facilisis justo. Ad id eu duis in fermentum. Volutpat turpis ut nostra suspendisse nisl nonummy tempor commodo.</p>
      <p><a href="#" class="theme1-button">Search</a></p>
    </div>
    <div class="theme1-layout-cell layout-item-2" style="width: 38%" >
      <h1>Affordable Housing</h1>
      <p><img width="320" height="213" alt="" src="/theme1/img/shutterstock_15990961.jpg" class=""></p>
      <p>Phasellus habitant scelerisque odio eros quis morbi lacus. Congue mattis mi blandit ac. Luctus tristique ligula volutpat aenean litora pharetra eleifend cursus cursus in. Nec nisi posuere etiam suspendisse mauris sem.</p>
      <ul>
        <li>Sodales hendrerit enim.</li>
        <li>Tempus mollis luctus.</li>
        <li>Duis pulvinar ligula tortor.</li>
      </ul>
      <p><a href="#">Read more...</a></p>
    </div>
  </div>
</div>