<footer class="theme1-footer">
  <div class="theme1-footer-inner">
    <div class="theme1-content-layout">
      <div class="theme1-content-layout-row">
        <div class="theme1-layout-cell layout-item-0" style="width: 20%">
          <p style="font-size:18px; color: #FFFFFF;">Dis.</p><br>
          <ul>
            <li><a href="#">Welcome</a></li>
            <li><a href="#">People</a></li>
            <li><a href="#">Management</a></li>
          </ul>
        </div>
        <div class="theme1-layout-cell layout-item-0" style="width: 20%">
          <p style="font-size:18px; color: #FFFFFF;">Nisl in.</p><br><ul><li><a href="#">Map</a></li><li><a href="#">Address</a></li><li><a href="#">Contact Us</a></li></ul>
        </div>
        <div class="theme1-layout-cell layout-item-0" style="width: 20%">
          <p style="font-size:18px; color: #FFFFFF;">Orci.</p><br>
          <ul>
            <li><a href="#">Company</a></li>
            <li><a href="#">Terms</a></li>
          </ul>
        </div>
        <div class="theme1-layout-cell layout-item-0" style="width: 40%">
          <p style="text-align:right;"><a href="#"></a><a href="#"><img width="32" height="32" alt="" src="/theme1/img/picasa_32-2.png" class=""></a><a href="#"><img width="32" height="32" alt="" src="/theme1/img/facebook_32-2.png" class=""></a><img width="32" height="32" alt="" src="/theme1/img/rss_32-2.png" class=""><a href="#"><img width="32" height="32" alt="" src="/theme1/img/twitter_32.png"></a></p>
          <p style="text-align:right;">Vestibulum duis nisi fermentum id rutrum.</p>
        </div>
      </div>
    </div>
    <p class="theme1-page-footer">
      <span id="theme1-footnote-links"><a href="#" target="_blank">Web Site</a> created by us</span>
    </p>
  </div>
</footer>