<header class="theme1-header">
  <div class="theme1-shapes">
    <div class="theme1-object194738129" data-left="0%"></div>
    <div class="theme1-object0" data-left="100%"></div>
  </div>
  <h1 class="theme1-headline" data-left="1.92%">
    <a href="#">Realtor</a>
  </h1>
  <h2 class="theme1-slogan" data-left="2.04%">Real Estate Agency</h2>
</header>